<div class="container">
    <div class="d-flex">
        <form action="/record/{{record._id}}/edit?_method=PUT" method="POST" style="display: inline;">
            <table>
                <tr>
                    <td>
                        *必填欄位
                    </td>
                    <td>
                        請修改你的支出
                    </td>
                </tr>
                <tr>
                    <td>
                        名稱* :
                    </td>
                    <td>
                        <input type="text" name="name" value="{{record.name}}">
<!--                        <input type="text" value="1111">-->
                    </td>
                </tr>
                <tr>
                    <td>
                        日期* :
                    </td>
                    <td>
                        <input type="date" name="date" value="{{record.date}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        類別* :
                    </td>
                    <td>
                        <select name="categoryId" id="categoryId">
                            {{#each category}}
                                <option value="{{this.id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        金額* :
                    </td>
                    <td>
                        <input type="number" name="amount" value="{{record.amount}}">
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td>
                        <button type="submit" class="btn btn-outline-secondary">送出</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

</div>