<div class="container">
    <div class="align-content-center">
        <form class="m-auto" style="width: 40%" action="/record/{{record._id}}/edit?_method=PUT" method="POST" style="display: inline;">
            <table class="table table-striped table-hover">
                <tr class="text-center h-25 ml-3 m-2 p-0">
                    <td class="table table-striped table-hover">
                        *必填欄位
                    </td>
                    <td class="table table-striped table-hover">
                        請修改你的支出
                    </td>
                </tr>
                <tr>
                    <td>
                        名稱* :
                    </td>
                    <td>
                        <input type="text" name="name" value="{{record.name}}" required >
                    </td>
                </tr>
                <tr>
                    <td>
                        日期* :
                    </td>
                    <td>
                        <input type="date" name="date"  min="2020-01-01" max="2025-12-31" value="{{record.date}}" required >
                    </td>
                </tr>
                <tr>
                    <td>
                        類別* :
                    </td>
                    <td>
                        <select name="categoryId" id="categoryId" >
                            {{#each category}}
                                <option value="{{this.id}}"  {{#ifEq this.id ../record.categoryId}} selected {{/ifEq}}  {{#ifEq this.id 0}} hidden {{/ifEq}}>{{this.name}}</option>
                            {{/each}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        金額* :
                    </td>
                    <td>
                        <input type="number" name="amount" value="{{record.amount}}" required >
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td>
                        <button type="submit" class="btn btn-outline-secondary">送出</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

</div>